.foot{
    color: #9999;
    margin-top: 1px;
    
}
.e1500{
    color: rgb(255, 255, 255);
    font-size: 100%;
}
.Tag{
    color: rgb(255, 255, 255);
}
.img{
    width: 20pt;
}
.copyright{
    /* padding-left: 35%;
    padding-right: 20%; */
    justify-content: center;
    padding-bottom: 1%;
    text-align: center;
}