/* .nav-item{
    margin-right: 6rem;
}
.yes{
    box-shadow: 5px;
    background-color: #FF7000;
    border-radius: 5px;
    text-transform: uppercase;
}
.butt{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid 1px grey;
    border-radius: 50%;
    cursor: pointer;
    background-color: orange;
    margin: 1px;
}
#div{
    text-align: right;
} */
.nvimg{
    width: 100px;
}